.background\:\#fcfbe9{
	background: #fcfbe9
}
.display\:flex{
	display: flex
}
.flex-direction\:column{
	flex-direction: column
}
.margin\:1rem{
	margin: 1rem
}
.margin\:1rem_auto{
	margin: 1rem auto
}
.max-width\:1024px{
	max-width: 1024px
}
.max-width\:100\%{
	max-width: 100%
}
.padding-bottom\:2rem{
	padding-bottom: 2rem
}
.\3800px\:width\:100\%:800px{
	width: 100%
}
.width\:100\%{
	width: 100%
}

@media (min-width: 768px) {
.md\:\{flex-direction\:row\;flex-wrap\:wrap\;justify-content\:space-evenly\}{
	flex-direction: row
}
.md\:\{flex-direction\:row\;flex-wrap\:wrap\;justify-content\:space-evenly\}{
	flex-wrap: wrap
}
.md\:\{flex-direction\:row\;flex-wrap\:wrap\;justify-content\:space-evenly\}{
	justify-content: space-evenly
}
}

@media (min-width: 800px) {
.minw800px\:width\:100\%{
	width: 100%
}
}

@media (min-width: 1024px) {
.lg\:margin\:1rem_auto{
	margin: 1rem auto
}
}
