<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content max-width:1024px lg:margin:1rem_auto margin:1rem" aria-label="Content">

        {{ content }}
        {% for image in page.images %}

          {% assign image_obj = site.static_files | where: "name", image | first %}

          <img src="{{ image_obj.path }}" alt="{{ name }}" loading="lazy" class="max-width:100% margin:1rem_auto" />

        {% endfor %}

        {%if page.form!=blank %}
        {% include form.html %}
        {% endif %}


    </main>


  </body>

</html>
